<!--<h1>{{title}}</h1>-->
<table>
    <tr>
        <th>name</th>
        <th>content</th>
        <th>x</th>
        <th>y</th>
    </tr>
    <tr *ngFor="let item of json">
        <td>{{item.name}}</td>
        <td>{{item.content}}</td> 
        <td>{{item.x}}</td>
        <td>{{item.y}}</td>
        <td><button type="" (click)="update(item)">스팟수정</button></td>
        <td><button type="" (click)="delete(item.id)">스팟삭제</button></td>
    </tr>
    <tr><br></tr>
    <tr>
        <td><input type="" name="" value="" [(ngModel)]="data.name"></td>
        <td><input type="" name="" value="" [(ngModel)]="data.content"></td>
        <td><input type="" name="" value="" [(ngModel)]="data.x"></td>
        <td><input type="" name="" value="" [(ngModel)]="data.y"></td>
        <td><button type="" (click)="modify(data)">수정하기</button></td>
        <td><button type="" (click)="add(data)">추가하기</button></td>
    </tr>
</table>




